footer{
    background-color: grey;
    width: 100%;   
}

footer a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.coluna-footer{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.titulo-footer{
    background-color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.redes-sociais{
    width: 70px;
    padding: 10px;
}
